/* add your CSS here */

ul {
	list-style: none;
	padding:0;

}
.main {
border: 1px solid grey;
box-shadow: 4px 5px 5px grey;
width: 300px;
padding: 10px;
}
.main li span {
	font-weight: bold;
}

.information {
	border: 1px solid grey;
	padding: 10px;

}

.information p:first-of-type {
	font-style: italic;
}
img{
	margin: 10px 0;
}